<div id="game-home">
  <div class="row">
    <div class="col-lg-12">
      <div class="controls">
        <button class="btn btn-success controls-new">New</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      Player 1
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div id="board">
        <% for (var j = 7; j >= 0; --j) { %>
          <% for (var i = 0; i < 8; ++i) { %>
            <div class="square text-center square-<%= ((i + j) % 2) ? "white" : "black" %>" data-file="<%= i %>" data-rank="<%= j %>">
              <% if (board.grid[i][j]) { %>
                <div class="piece piece-<%= board.grid[i][j].color %> piece-<%= board.grid[i][j].name %>"><%= board.grid[i][j].name.toUpperCase() %></div>
              <% } %>
            </div>
          <% } %>
          <br>
        <% } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      Player 2
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Spectators</h3>
        </div>
        <div class="panel-body">
          <%= specs %>
        </div>
      </div>
    </div>
  </div>

</div>
